<div class="bg-theme p-5">
  <div class="container">
    <h1 class="text-white">General knowledge</h1>
    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aperiam quisquam quos.</p>

  </div>
</div>

<div class="container">
  <div class="row py-3">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
