<section class="my-5">
  <div class="container p-5 bg-theme">
    <h1 class="text-white text-center">Terms and Conditions</h1>
    <div class="p-5 my-4 bg-theme-secondary">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ducimus excepturi obcaecati. Magnam quibusdam, rerum, dolorum delectus eum beatae libero aliquam numquam recusandae veritatis et iure. Officia, maiores. Deleniti magni porro cupiditate.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio labore harum explicabo alias, unde quibusdam vel laudantium rem corrupti officiis nulla deleniti vero, similique voluptas minus mollitia est temporibus cupiditate, nam eveniet enim commodi quisquam id aut. Porro, ab quisquam?</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate ratione eum veritatis voluptas impedit? Placeat unde aliquid optio, laudantium repellat iusto quam exercitationem rem tempora, ex molestiae autem quia ea ducimus cumque? Totam repellat incidunt ut, ullam eos expedita sunt nisi veniam. Tempora, ea. Neque laudantium atque autem accusantium natus nostrum officia molestiae nihil odit fugiat!</p>

      <div class="text-center">
        <button class="btn btn-info">Back to Home</button>
      </div>
    </div>
  </div>
</section>
