<div class="card">
  <div class="card-body">
    <h4 class="my-3">Comments (15.256)</h4>

    <div class="comment-box mt-3 p-4">
      <h6 class="mb-">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2023</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quo officiis esse accusantium cum,
        suscipit ea numquam repudiandae in voluptatum molestiae
        sed iure fugiat distinctio vitae nam, perspiciatis consectetur ut eius, neque similique!
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
    </div>
    <div class="comment-box mt-3 p-4">
      <h6 class="mb-">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2023</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quo officiis esse accusantium cum,
        suscipit ea numquam repudiandae in voluptatum molestiae
        sed iure fugiat distinctio vitae nam, perspiciatis consectetur ut eius, neque similique!
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
    </div>
    <div class="comment-box mt-3 p-4">
      <h6 class="mb-">John Doe</h6>
      <small class="text-danger">LAST UPDATED - SEP 20, 2023</small>
      <div class="my-3">
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quo officiis esse accusantium cum,
        suscipit ea numquam repudiandae in voluptatum molestiae
        sed iure fugiat distinctio vitae nam, perspiciatis consectetur ut eius, neque similique!
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ms-3">View Reply</a>
    </div>
  </div>
</div>
