<section class="featured-section py-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque non voluptates consectetur odio debitis perferendis modi minima nostrum quis?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-song></app-song>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>
      <div class="col-lg-3">
        <app-post-card></app-post-card>
      </div>

    </div>
  </div>
</section>

<section class="container my-5">
  <div class="col-md-12 text-center">
    <h2>LATEST POSTS</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, provident sit. Rem?</p>
  </div>

  <div class="row">
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
    <div class="col-md-4 mt-3">
      <app-post-card></app-post-card>
    </div>
  </div>
</section>
