<section class="my-5">
  <div class="container p-5 bg-theme">
    <h1 class="text-white text-center">Contact Us</h1>
    <p class="text-white text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto totam nam architecto eveniet.</p>
    <div class="p-5 my-4 bg-theme-secondary">

      <form action="">
        <div class="form-group mt-3">
          <label for="">Name</label>
          <input type="text" class="form-control" placeholder="Enter your name here">
        </div>
        <div class="form-group mt-3">
          <label for="">Email</label>
          <input type="email" class="form-control" placeholder="Enter your mail here">
        </div>
        <div class="form-group mt-3">
          <label for="">Comment</label>
          <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Add your comment here"></textarea>
        </div>

        <button class="btn btn-info mt-3">Submit</button>
        <button class="btn btn-light mt-3 ms-2">Cancel</button>
      </form>
    </div>
  </div>
</section>
