<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <img src="https://images.pexels.com/photos/19049499/pexels-photo-19049499/free-photo-of-close-up-of-a-sunflower-on-a-field.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="card-img-top img-fluid">
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ms-3">Featured</small>
          <small class="bg-light text-info text-center ms-3">Views - 100</small>
          <small class="bg-light text-warning text-center ms-3">LAST UPDATED - SEP 21</small>
          <h1 class="my-3">How to make a blog in 2023</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Deleniti, culpa commodi in laboriosam consequatur aut laborum animi,
            minus veritatis eaque esse veniam cumque temporibus id ipsa quasi
            oluptate corporis magnam quia similique natus. Illum ipsum itaque
            iure numquam pariatur dolores in quo quas illo similique atque ad,
            eveniet ipsam deserunt quasi nostrum, nemo quam natus dicta inventore,
            nesciunt nisi aliquam officia corrupti? Sint rem assumenda nesciunt
            suscipit saepe perspiciatis quae quibusdam. Id, ipsam. Dolore sit aspernatur
            ipsam cupiditate cumque. Esse, laboriosam! Autem placeat rem ipsum nam cumque.
            Voluptatibus tempora delectus vel assumenda aut, impedit laborum, porro omnis
            nemo quasi tempore quia? Eaque tenetur consectetur exercitationem sapiente
            explicabo nam et odio quaerat! Quam quis quisquam ipsum voluptate, nam laboriosam officia dolores!</p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
