<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left">
        <div class="logo-text">
          <span class="bolder-font">gita</span><span class="lighter-font">kords</span><span class="lighter-font">.online</span>
        </div>
        <div>
          <ul class="nav justify-content-left">
            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">About</a></li>
            <li class="nav-item"><a href="" class="nav-link">Terms & conditions</a></li>
            <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
          </ul>
        </div>
        <p class="mb-2 mt-2">&copy;2023 | dropSound&reg;&trade;</p>
      </div>
    </div>
  </div>
</footer>
