<div class="card">
  <img class="card-img-top" src="https://images.pexels.com/photos/19207201/pexels-photo-19207201/free-photo-of-old-accordionist.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post image">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Featured</small>
    <small class="bg-light text-info text-center ms-3">Views 100</small>

    <h5 class="mt-1">How to start blog in 2023</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore sunt possimus non rem porro doloremque consequuntur.</p>
    <small class="bg-light text-warning text-center ms-3">LAST UPDATED - SEP 21</small>
  </div>
</div>
