<div class="card">
  <img class="card-img-top" src="../../../assets/images/artists/A/ArtanLili.jpg" alt="Artan Lili logo">
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ms-3">Featured</small>
    <small class="bg-light text-info text-center ms-3">Views 100</small>

    <h5 class="mt-1">Nije svejedno<span>Artan Lili</span></h5>
    <p>
      Album: New Deal
      Godina: 2018


      |https://youtu.be/HMmf5v-ba0I

      Uvod: |Hm  |    |F#m |A...| x puta

      kroz cijelu pjesmu se vrte ovi akordi

      A                  Hm
      Treba mi neka luda stvar
      Hajde da popravimo kvar
                      F#m  A
      Da opet budemo jedno
                               Hm
      Zbog jedne greske pukne stvar
      A to sto dobijes na dar
                      F#m    A
      Veruj mi nije svejedno
                        Hm
      Gubis vreme i ti
      A gubim vreme i ja
                          F#m    A
      Sta mislis da li je vredno
                           Hm
      Sto svako fura svoju stvar
      Hajde da popravimo kvar
                      F#m    A
      Da opet budemo jedno</p>
    <small class="bg-light text-warning text-center ms-3">LAST UPDATED - SEP 21</small>
  </div>
</div>
